<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
  <display-name>G$glershop</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>

  <servlet>
	  <servlet-name>jersey-servlet</servlet-name>
	  <servlet-class>
		  org.glassfish.jersey.servlet.ServletContainer
	  </servlet-class>
	  <init-param>
		  <param-name>jersey.config.server.provider.classnames</param-name>
		  <param-value>LoginNormal, ShopBasket</param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	  <servlet-name>jersey-servlet</servlet-name>
	  <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <filter>
	  <filter-name>Login</filter-name>
	  <filter-class>LoginFilter</filter-class>
  </filter>
  <filter-mapping>
	  <filter-name>Login</filter-name>
	  <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>
